# conjunto de paquetes necesario para el tracking
# se deben instalar en la carpeta vendor
# para instalar ejecutar pip install -U -t vendor -r requirements.txt

google-api-python-client
httplib2
oauth2client
sendgrid
simplejson
six
smtpapi
tablib
uritemplate