{% extends 'base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
{% endblock %}

{% block title %}Principal{% endblock %}

{% block content %}
<div class="row">
	<nav class="hidden-xs hidden-sm col-md-2 col-lg-2 menu">
		<ul>
			<legend style="padding-left:20px;">Menú Estadísticas</legend>
			<li>
				<div class="form-group form-group-material-indigo has-feedback">
					<label class="control-label">Desde</label>
					<input class="form-control datePicker" type="text" name="date_from" id="date_from">
					<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
				</div>
			</li>
			<li>
				<div class="form-group form-group-material-indigo has-feedback">
					<label class="control-label">Hasta</label>
					<input class="form-control datePicker" type="text" name="date_to" id="date_to">
					<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
				</div>
			</li>
			<li>
				<div class="form-group form-group-material-indigo">
					<label class="control-label">Opciones</label>
					<select name="options" id="options" class="form-control">
						<option value="all">Todo</option>
						<option value="dte">Otros DTEs</option>
						<option value="cliente">Personas</option>
					</select>
				</div>
				<div class="form-group form-group-material-indigo" align="right" style="margin-right:20px;">
					<a id="export" href="" target="_self" class="btn btn-fab btn-raised mdi-editor-vertical-align-bottom" title="Exportar a CSV">
					<div class="ripple-wrapper"></div>
					</a>
					<button id="run_search" class="btn btn-material-red btn-fab btn-raised mdi-navigation-arrow-forward" data-toggle="modal" data-target="#loadingModal" title="Buscar">
					<div class="ripple-wrapper"></div>
					</button>
				</div>
			</li>
		</ul>
	</nav>

	<div class="pages col-xs-11 col-sm-11 col-md-10 col-lg-10">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-sm-4 col-md-4 col-lg-4">
				<h5>Resumen solicitados</h5>
				<div class="panel panel-success">
					<div class="panel-body">
						<div class="pie-chart" id="divGeneralStatusPieChart" align="center"></div>
						<p class="legend-status" id="divResumeGeneral"><label>Sin datos en este período</label></p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-sm-4 col-md-4 col-lg-4">
				<h5>Resumen enviados</h5>
				<div class="panel panel-success">
					<div class="panel-body">
						<div class="pie-chart" id="divSendedStatusPieChart" align="center"></div>
						<p class="legend-status" id="divResumeOpened"><label>Sin datos en este período</label></p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-sm-4 col-md-4 col-lg-4">
				<h5>Resumen fallidos</h5>
				<div class="panel panel-success">
					<div class="panel-body">
						<div class="pie-chart" id="divFailureStatusPieChart" align="center"></div>
						<p class="legend-status" id="divResumeFailure"><label>Sin datos en este período</label></p>
					</div>
				</div>
			</div>
		<!--</div>

		<div class="row">-->
			<div class="col-md-12 col-lg-12">
				<h5>Gráfica del período</h5>
				<div class="panel panel-success">
					<div class="panel-body">
						<div id="divLineChart"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="modal" id="loadingModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalButton" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cargando...</h4>
            </div>
            <div class="modal-body">
                <p>por favor espere unos segundos</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	<script src="/static/js/jquery.datetimepicker.js"></script>
	<script src="/static/js/panel/index.min.js"></script>
{% endblock %}