{% extends 'base.html' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
{% endblock %}

{% block title %}Principal{% endblock %}

{% block content %}
<div class="row">
	<nav class="col-xs-5 col-sm-4 col-md-3 col-lg-3 menu" >
		<ul>
			<legend style="padding-left:20px;">Menú Estadísticas</legend>
			<li>
				<div class="form-group has-feedback">
					<label class="control-label">Desde</label>
					<input class="form-control datePicker" type="text" name="date_from" id="date_from">
					<span class="glyphicon glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
				</div>
			</li>
			<li>
				<div class="form-group has-feedback">
					<label class="control-label">Hasta</label>
					<input class="form-control datePicker" type="text" name="date_to" id="date_to">
					<span class="glyphicon glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
				</div>
			</li>
			<li>
				<div class="form-group">
					<label class="control-label">Opciones</label>
					<select name="options" id="options" class="form-control">
						<option value="all">Todo</option>
						<option value="dte">Otros DTEs</option>
						<option value="cliente">Personas</option>
					</select>
				</div>
				<div class="form-group" align="right" style="margin-right:20px;">
					<button id="export" class="btn btn-fab btn-raised mdi-editor-vertical-align-bottom" data-toggle="modal" data-target="#loadingModal" title="Exportar a CSV">
					<div class="ripple-wrapper"></div>
					</button>
					<button id="run_search" class="btn btn-material-red btn-fab btn-raised mdi-navigation-arrow-forward" data-toggle="modal" data-target="#loadingModal" title="Buscar">
					<div class="ripple-wrapper"></div>
					</button>
				</div>
			</li>
		</ul>
	</nav>

	<div class="pages col-xs-7 col-sm-8 col-md-9 col-lg-9">
		<div class="col-xs-10">
			<div class="well">
				<div class="panel panel-warning">
					<div class="panel-heading"><span class="glyphicon glyphicon-dashboard"></span> Gráfica del período</div>
					<div class="panel-body">
						<div id="divLineChart"></div>
					</div>
				</div>
			</div>
			<div class="well">
				<div class="panel panel-info">
					<div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Resumen</div>
					<div class="panel-body">
						<ul class="nav nav-pills" style="font-size: 10px;">
							<li class="active">
								<a>Solicitudes: <span class="badge" id="badgeTotal">0</span></a>
							</li>
							<li class="active">
								<a>Procesados: <span class="badge" id="badgeProcessed">0</span></a>
							</li>
							<li class="active">
								<a>Enviados: <span class="badge" id="badgeDelivered">0</span></a>
							</li>
							<li class="active">
								<a>Leídos: <span class="badge" id="badgeOpened">0</span></a>
							</li>
							<li class="active">
								<a>Rebotados: <span class="badge" id="badgeBounced">0</span></a>
							</li>
							<li class="active">
								<a>Rechazados: <span class="badge" id="badgeDropped">0</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="well">
				<div class="panel panel-success">
					<div class="panel-heading"><span class="glyphicon glyphicon-dashboard"></span> Gráfico de actividad</div>
					<div class="panel-body">
						<div class="row">
							<div id="divPendingPieChart" class="col-md-6" align="center"></div>
							<div id="divStatusPieChart" class="col-md-6" align="center"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="loadingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalButton" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cargando...</h4>
            </div>
            <div class="modal-body">
                <p>por favor espere unos segundos</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	<script src="/static/js/jquery.datetimepicker.js"></script>
	<script src="/static/js/panel/index.min.js"></script>
{% endblock %}