<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/cover.css">
	<title>Azurian - Auth</title>
</head>
<body>
	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Bienvenido</h1>
            <p class="lead">Estadísticas de envío de correo DTE Azurian</p>
            <p class="lead">
				<form name='formulario' method="post">
				<div class="form-group form-inline">
					<input type="email" placeholder='Correo' class='form-control' name="email">
				</div>
				<div class="form-group form-inline">
					<input type='password' placeholder='Contraseña' class='form-control' name='password'>
				</div>
					<input class='btn btn-primary' type="submit" value="Iniciar Sesión">
					<button class="btn btn-default" type="reset">Limpiar</button>
				</form>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Azurian Tecnología Ltda 2015</p>
            </div>
          </div>
        </div>
      </div>
    </div>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>