html, body {
	font-family: 'Open Sans', sans-serif;
}
.navbar-default {
	background: #0053A0;
	border: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
	background: #1B22AA;
	color: #fff;
}

.btn-success {
	background: #0053A0;
	border-color: #0053A0;
}

.btn-right {
	float: right;
	position: relative;
	bottom: 3em;
	right: 3em;
	margin-bottom: 20px;
}

.responsive-table {
	display: block;
	height: 500px;
	overflow-y: auto;
}

th {
	background: #0053A0;
	color: #fff;
}

tbody {
	odd: #A9A9F5;
	color: #0053A0;
}

h1, h2, h3 {
	color: #0053A0;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	background: #0053A0;
	color: #FFFFFF;
	text-decoration: none;
}
.sidebar {
	position: fixed;
	top: 51px;
	left: 0;
	bottom: 0;
	display: block;
	overflow-x; hidden;
	overflow-y; auto;
	background-color: #f1f1f1;
}