<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/r/bs/jqc-1.11.3,dt-1.10.9/datatables.min.css"/>
	<link rel="stylesheet" href="/assets/css/jquery.datetimepicker.css">
	<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
	<title>Document</title>
</head>
<body>

<table class="table table-hover table-striped table-condensed table-responsive" id="tableCards" style="font-size:10px;">
</table>
	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.datetimepicker.js"></script>
	<script src="/assets/js/jquery.dataTables.min.js"></script>
	<script src="/assets/js/dataTables.bootstrap.min.js"></script>
	<script src="/assets/js/tests/tests.js"></script>
</body>
</html>