<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/r/bs/jqc-1.11.3,dt-1.10.9/datatables.min.css"/>
	<link rel="stylesheet" href="/assets/css/jquery.datetimepicker.css">
	<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
	<title>Document</title>
</head>
<body>

<table class="table table-hover table-striped table-condensed table-responsive" id="tableCards" style="font-size:10px;">
	<tr>
		<th>Resumen de envío</th>
		<th>Adjuntos</th>
		<th>Folio</th>
		<th>Correo</th>
		<th>Fecha envío</th>
		<th>Rut eeceptor</th>
		<th>Nombre cliente</th>
		<th>Rut emisor</th>
		<th>Nombre emisor</th>
		<th>Tipo envío</th>
		<th>Tipo DTE</th>
		<th>Resolución receptor</th>
		<th>Resolución emisor</th>
		<th>Monto</th>
		<th>Fecha emisión</th>
		<th>Fecha recepción</th>
		<th>Estado documento</th>
		<th>Tipo operación</th>
		<th>Tipo receptor</th>
	</tr>
</table>
	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.datetimepicker.js"></script>
	<script src="/assets/js/jquery.dataTables.min.js"></script>
	<script src="/assets/js/dataTables.bootstrap.min.js"></script>
	<script src="/assets/js/tests/tests.js"></script>
</body>
</html>