<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/material.min.css">
	<link rel="stylesheet" href="/assets/css/material-fullpalette.min.css">
	<!--<link rel="stylesheet" href="/assets/css/roboto.min.css">-->
	<link rel="stylesheet" href="/assets/css/ripples.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<title>Azurian - Login</title>
</head>
<body class="animated fadeInDown fondo-azurian" style="padding-top:40px;padding-bottom:40px;">

	<div class="container-fluid login">
		<div class="row">
			<div class="well" style="width:100%">
				<h3 class="header" align="center"><b>DTE</b> Tracking</h3>
				<form name='formulario' method="post">
					<div class="form-group form-group-material-deep-orange">
						<input type="email" placeholder='Usuario' class='form-control floating-label' name="email" required>
					</div>
					<div class="form-group form-group-material-deep-orange">
						<input type='password' placeholder='Contraseña' class='form-control floating-label' name='password' required>
					</div>
					<div class="form-group" align="right">
						<button class="btn btn-raised btn-material-deep-orange-600" style="width:100%;" type="submit">Iniciar sesión  <div class="ripple-wrapper"></div></button>
					</div>
				</form>
				<div align="right">
					<img src="/assets/img/azurian_logo.png" width="198" height="82">
				</div>
			</div>
		</div>
	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/assets/js/material.min.js"></script>
	<script src="/assets/js/ripples.min.js"></script>
	<script>$.material.init();</script>
</body>
</html>