<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/css/md/material.min.css">
	<link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
	<title>Demo</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title"><b>Azurian</b>DTE e-tracking</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				<!-- Right aligned menu below button -->
				azurian@azurian.com 
				<button id="demo-menu-lower-right"
				        class="mdl-button mdl-js-button mdl-button--icon">
				  <i class="material-icons">more_vert</i>
				</button>

				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				    for="demo-menu-lower-right">
				  <li class="mdl-menu__item">Salir</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title"><b>Azurian</b>DTE</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="">Menú estadísticas</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<div class="page-content">
			<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
			            mdl-layout--overlay-drawer-button">
			  <div class="mdl-layout__drawer">
			    <span class="mdl-layout-title">Menú Estadísticas</span>
			    <nav class="mdl-navigation">
				    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    	<input class="mdl-textfield__input datePicker" type="text" name="" id="">
				    	<label class="mdl-textfield__label" for="">Fecha desde:</label>
				    </div>
				    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    	<input class="mdl-textfield__input datePicker" type="text" name="" id="">
				    	<label class="mdl-textfield__label" for="">Fecha hasta:</label>
				    </div>
				    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					    <select name="options" id="options" class="mdl-input__expandable-holder">
							<option value="all">Todo</option>
							<option value="dte">Otros DTEs</option>
							<option value="customer">Personas</option>
						</select>
				    </div>
			    </nav>
			  </div>
			  <main class="mdl-layout__content">
			    <div class="page-content"><!-- Your content goes here --></div>
			  </main>
			</div>
		</div>
	</main>
</div>
	
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/md/material.min.js"></script>
	<script src="/static/js/jquery.datetimepicker.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="/static/js/panel/index.min.js"></script>
</body>
</html>