<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/material.min.css">
	<link rel="stylesheet" href="/static/css/material-fullpalette.min.css">
	<link rel="stylesheet" href="/static/css/roboto.min.css">
	<link rel="stylesheet" href="/static/css/ripples.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	{% block stylesheets %}{% endblock %}
	<title>Azurian - {% block title %}{% endblock %}</title>
</head>
<body>
	<div class="page-header">
		<div class="navbar navbar-inverse shadow-z-2 navbar-fixed-top">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" style="margin-left:20px;" href="/"><b>Azurian</b>DTE e-tracking</a>
		    </div>
		    <div class="navbar-collapse collapse navbar-warning-collapse">
		    	<ul class="nav navbar-nav">
				{% if data.is_custom_user %}
				<!--
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Menú <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Estadísticas</a></li>
					</ul>
				</li>
				-->
				{% else %}
				  	<li><a href="/admin">Inicio</a></li>
				  	<li><a href="/admin/statistics">Estadísticas</a></li>
				  	<li><a href="/admin/users">Usuarios</a></li>
				{% endif %}
				</ul>
		        <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
		            <li class="dropdown">
		                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ data.email }} <b class="caret"></b></a>
		                <ul class="dropdown-menu">
		                {% if data.is_custom_user %}
				        	<li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
						{% else %}
				          	<li><a href="/revoke"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
						{% endif %}
		                </ul>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
	
	<div class="container-fluid  main">
		{% block content %}{% endblock %}
	</div>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/ripples.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>$.material.init();</script>
	{% block javascript %}{% endblock %}
</body>
</html>